<h1>Entrer un nouvel utilisateur</h1>
<form  [formGroup]='userForm' (ngSubmit) = "onSubmit()">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Pseudo" formControlName="login">         
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info-circle"></i></span>
                <input type="password" pPassword placeholder="Nouveau password" formControlName="password"/>
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info-circle"></i></span>
                <input type="password" pPassword placeholder="Verification password" formControlName="verificationPassword"/>
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Nom" formControlName="nom">         
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Prenom" formControlName="prenom">         
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">@</span>
                <input type="email" pInputText placeholder="Email" formControlName="email">     
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input type="text" pInputText placeholder="Adresse" formControlName="adresse">     
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-home"></i></span>
                <input type="text" pInputText placeholder="Ville" formControlName="ville">     
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info-circle"></i></span>
                <p-inputMask  formControlName="codePostal" placeholder="Code postal" mask="99999"></p-inputMask>
            </div>
            <br>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-info-circle"></i></span>
                <p-inputMask formControlName="numTel" placeholder="Téléphone" mask="99-99-99-99-99"></p-inputMask>      
            </div>
            <br>
            <div class="ui-inputgroup">
                <button [disabled]='!userForm.valid' type='submit'>Enregistrer</button>    
            </div>
      </div>
    </div>
</form>

