<div class="ui-g">
  <div class="ui-g-2">
    <app-menu-accueil></app-menu-accueil>
  </div>
  
  
  <div class="ui-g-10">
    <div class="ui-g">
      <div class="ui-g-3">
        <img src="{{this.produit.lienImage}}" alt="Erreur de chargement de l'image"/>
      </div>
      <div class="ui-g-5">
        <h3>{{produit.titre}}</h3>
        <label><b>Descriptions : </b></label>
        <p>
          {{produit.description}}
        </p>
      </div>
      <div class="ui-g-2 centrer">
        <h3>Panier</h3>
        <div>
          <span>Nombre d'exemplaire : </span>
          <br><br>
          <button pButton class="ui-button-raised gauche" label='-' (click)="retirerExemplaire()"></button>
          <label>{{this.nombreExemplaire}}</label>
          <button pButton class="ui-button-raised droite" label="+"(click)="ajouterExemplaire()"></button>
        </div>
        <br>
        <br>
        <div>
          <label><b>Prix total : </b></label>
          <h2>{{this.nombreExemplaire}} * {{this.produit.prix}} = {{this.nombreExemplaire*this.produit.prix}} €</h2>
        </div>
        <div>
          <button pButton (click)="afficherVerification()" type="submit" label="Ajouter au panier" class="ui-button-raised"></button>  
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-1">
        
      </div>
      <div class="ui-g-8">
        <br>
        <div>
          <label><b>Date de sortie : </b></label>
          <span>
            {{produit.dateSortie | date:'dd/MM/yyyy'}}
          </span>
        </div>
        <br>
        <div>
          <label><b>Editeur : </b></label>
          <span>
            {{produit.editeur}}
          </span>
        </div>
        <br>
        <div>
          <label><b>Prix : </b></label>
          <span>
            {{produit.prix}} €
          </span>
        </div>
        <br>
      </div>
      <div class="ui-g-1">
        
      </div>
    </div>
    
  </div>
</div>

<p-dialog header="Vérification d'ajout" [(visible)]="afficherVerificationAjout">
    <span>Ajouter au panier ?</span>
    <p-footer>
      <button pButton (click)="ajouterPanier()" type="submit" label="Oui" class="ui-button-raised ui-button-success"></button>  
      <button pButton (click)="afficherVerification()" type="submit" label="Non" class="ui-button-raised ui-button-danger droite"></button>  
    </p-footer>

</p-dialog>
