<div class="ui-g">
  <div class="ui-g-2">
    <app-menu-accueil></app-menu-accueil>
  </div>
  
  
  <div class="ui-g-10">
    <div class="ui-g">
      <div class="ui-g-3">
        <img src="{{this.produit.lienImage}}" alt="Erreur de chargement de l'image"/>
      </div>
      <div class="ui-g-6">
        <h3>{{produit.titre}}</h3>
        <label><b>Descriptions : </b></label>
        <p>
          {{produit.description}}
        </p>
      </div>
      <div class="ui-g-1">
        
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <img src="{{this.produit.lienImage}}" alt="Erreur de chargement de l'image"/>
      </div>
      <div class="ui-g-6">
        <h3>{{produit.titre}}</h3>
        <label><b>Descriptions : </b></label>
        <p>
          {{produit.description}}
        </p>
      </div>
      <div class="ui-g-1">
        
      </div>
    </div>
    
  </div>
  
  
  
</div>
